/* GENERAL */

	#pays-bas{
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #ff9900;
		width: 100vw;
	}

	#titre{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: #ff9900;
		overflow: hidden;
		animation: titre 5s forwards;
	}

	.titre_img{
		width: 20vw;
		max-width: 300px;
	}

	#titre h1{
		font-size: 100px;
		color: #FFFFFF;
	}

	@keyframes titre{
		from{
			opacity: 100%;
		}
		
		25%{
			opacity: 100%;
		}
		
		99%{
			width: 100vw;
			height: 100vh;
		}

		to{
			width: 0vw;
			height: 0vh;
			opacity: 0%;
		}
	}

	#header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100vw;
		background-color: #ff9900;
	}

	#menu2{
		width: 40px;
		height: 40px;
		padding: 10px 20px;
	}

	#header ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		padding: 0;
		width: 30vw;
	}

	#header li {
		display: flex;
		justify-content: center;
		list-style-type: none;
	}

	#header a{
		color: #FFFFFF;
		font-size: 25px;
		text-align: center;
		text-decoration: none;
	}
	
	#audio{
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#audio h5{
		font-size: 20px;
		color: #FFFFFF;
		margin: 0;
	}

	#play, #pause{
		width: 30px;
		height: 30px;
		padding: 0 20px;
	}

	#pause{
		display: none;
	}


	#images{
		width: 100vw;
		height: 80vh;
		animation: fondu 80s ease-in-out infinite both;
	}

	@keyframes fondu{
		0%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2473.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		5.55%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2473.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		11.1%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2480.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		16.65%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2480.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		22.2%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2482.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		27.75%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2482.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		33.3%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2520.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		38.85%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2520.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		44.4%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2530.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		49.95%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2530.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		55.5%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2668.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		61.05%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2668.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		66.6%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2674.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		72.15%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2674.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		77.7%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2676.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		83.25%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2676.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		88.8%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2686.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		94.35%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2686.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
		100%{
			background-color: #000000;
			background-image: url("../Images/Pays-Bas/diapo/IMG_2713.jpg");
			background-repeat: no-repeat;
			background-size: auto 100%;
			background-position: center;
		}
	}

	#pays-bas_1{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80vw;
		max-width: 1200px;
		margin: 20px auto;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px #B86E00;
		text-align: center;
	}

	#pays-bas_1 h1, #pays-bas_3 h1{
		font-size: 30px;
	}

	#pays-bas_2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80vw;
		max-width: 1200px;
		margin: 20px auto;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px #B86E00;
		text-align: center;
	}
	
	#pays-bas_3{
		display: none;
		flex-direction: column;
		justify-content: center;
		width: 80vw;
		max-width: 1200px;
		margin: 20px auto;
		background-color: #FFFFFF;
		box-shadow: 0 0 10px #B86E00;
		text-align: center;
	}

	p{
		padding: 0 20px;
	}

	hr{
		width: 90%;
		height: 2px;
		margin-top: 20px;
		padding: 0;
		background-color: #ff9900;
		border: 0;
	}

	.pays-bas_img{
		width: 100%;
		height: auto;
		vertical-align: middle;
	}